# Import data and have a quick look

In [1]:
import pandas as pd
df = pd.read_csv( 'energy.csv' )
df.head()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

In [2]:
df.shape

(450, 26)

In [3]:
df.columns

Index(['Company Name', 'company contact', 'company email', 'company phone',
       'Address', 'City', 'State', 'Postcode', 'Industry', 'Industry descr',
       'Company Type', 'Current fulltime', 'Job created', 'Job retain',
       'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Borough', 'Latitude',
       'Longitude', 'Community Board', 'Council District', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

## 1. How many different companies are represented in the data set?

In [4]:
df['Company Name'].unique().size

439

## 2. What is the total number of jobs created for businesses in Queens?

In [5]:
df[ df['Borough'].str.contains('queens', case=False) ][ 'Job created' ].sum()

102.0

## 3. How many different unique email domains names are there in the data set?

In [7]:
pattern = r'(?<=@).*'
df[ 'company email' ].str.findall( pattern ).str.join('').dropna().unique().size

357

## 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [8]:
df_select = df.groupby('NTA').filter( lambda x: len(x) >= 5 )
savings = df_select['Total Savings'].mean()
jobs = df_select['Job created'].sum()
print( f'Average total savings: ${ round(savings) }' )
print( f'Total jobs created: { int(jobs) }')

Average total savings: $36356
Total jobs created: 79

## 5. Save your result for the previous question as a CSV file.

In [9]:
result = [[ savings, jobs ]]
df_result = pd.DataFrame( result, columns=['Average Savings','Jobs Created'] )
df_result.to_csv( 'pandas_problem5.csv' )